.ars-woo-popup-ajax{
  display: inline-block;
  position: fixed;
  z-index: 999;
  //top: -5%;
  width: 80%;
  text-align: center;
  color: #fff;
  background-color: green;
  left: 10%;
  right: 10%;
  animation-duration: 4s;
  p{
    margin: 10px;
    font-weight: bold;
  }
}

.animation-dropdown{
  animation-name: droptobottom;
}

@keyframes droptobottom{
  from{
    top:-5%;
  }
  to{
    top:5%;
  }
}
